<?xml version="1.0" encoding="UTF-8"?>

<!-- Mapper 설정 파일임을 선언하는 부분 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.kh.finalproject.mypage.model.mapper.MyPageMapper">

	<resultMap type="Cart" id="cartResultMap">
		<id property="cNo" column="C_NO" />
		<result property="bNo" column="B_NO" />
		
		<result property="bName" column="B_NAME" />
		<result property="bWriter" column="B_WRITER" />
		<result property="bImage" column="B_IMAGE" />
		<result property="publishDate" column="PUBLISH_DATE" />
		
		<result property="uNo" column="U_NO" />
		
		<result property="uId" column="U_ID" />
		<result property="uName" column="U_NAME" />
		<result property="uAddress" column="U_ADDRESS" />
		<result property="uPhone" column="U_PHONE" />
	</resultMap>
	
	<resultMap type="Library" id="libraryResultMap">
		<id property="no" column="L_NO" />
		<result property="name" column="L_NAME" />
		<result property="address" column="L_ADDRESS" />
		<result property="lat" column="L_LAT" />
		<result property="lng" column="L_LNG" />
	</resultMap>
	
	<resultMap type="Rent" id="rentResultMap">
		<id property="rNo" column="R_NO" />
		<result property="bNo" column="B_NO" />
		
		<result property="bName" column="B_NAME" />
		<result property="bWriter" column="B_WRITER" />
		
		<result property="uNo" column="U_NO" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="rStatus" column="R_STATUS" />
		
		<result property="sNo" column="S_NO" />
	</resultMap>
	
	<insert id="insertCart" parameterType="Cart">
		INSERT INTO CART VALUES(SEQ_C_NO.NEXTVAL, #{bNo}, #{uNo})
	</insert>
	
	<select id="selectAllCartList" parameterType="int" resultMap="cartResultMap">
		SELECT C.C_NO, C.B_NO, B.B_NAME, B.B_WRITER, B.B_IMAGE, B.PUBLISH_DATE, C.U_NO, U.U_ID, U.U_NAME, U.U_ADDRESS, U.U_PHONE 
		FROM CART C, BOOK B, MEMBER U
		WHERE C.B_NO = B.B_NO AND C.U_NO = U.U_NO
		AND C.U_NO = #{uNo}
		ORDER BY C.C_NO DESC
	</select>
	
	<delete id="deleteCartByNo" parameterType="Cart">
		DELETE FROM CART WHERE C_NO = #{cNo} AND U_NO = #{uNo}
	</delete>
	
	<select id="selectLibraryList" parameterType="string" resultMap="libraryResultMap">
		SELECT * FROM LIBRARY WHERE L_ADDRESS LIKE '%'||#{address}||'%'
	</select>
	
	<insert id="insertRent" parameterType="Cart">
		INSERT INTO RENT VALUES(SEQ_RENT_NO.NEXTVAL, #{bNo}, #{uNo}, SYSDATE, SYSDATE + 7, '배송중')
	</insert>
	
	<delete id="deleteAllCart">
		DELETE FROM CART WHERE U_NO = #{uNo}
	</delete>
	
	<select id="selectRentCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM RENT WHERE U_NO = #{uNo}
	</select>
	
	<select id="selectAllRentList" parameterType="int" resultMap="rentResultMap">
		SELECT R.R_NO, R.B_NO, B.B_NAME, B.B_WRITER, R.U_NO, R.START_DATE, R.END_DATE, R.R_STATUS
		FROM RENT R, BOOK B
		WHERE R.B_NO = B.B_NO
		AND R.U_NO = #{uNo}
		ORDER BY R.R_NO DESC
	</select>
	
	<update id="updateRentStatusToRent" parameterType="Rent">
		UPDATE RENT SET R_STATUS = '대여중' WHERE R_NO = #{rNo}
	</update>
	
	<update id="updateRentStatusToOverdue" parameterType="Rent">
		UPDATE RENT SET R_STATUS = '미반납' WHERE R_NO = #{rNo} 
	</update>
	
	<select id="selectRentScoreList" parameterType="int" resultMap="rentResultMap">
		SELECT R.*, S.S_NO FROM RENT R, SCORE S WHERE R.U_NO = S.U_NO AND R.B_NO = S.B_NO AND R.U_NO = #{uNo}
	</select>
	
	<update id="updateRentStatusToReturn" parameterType="int">
		UPDATE RENT SET R_STATUS = '반납완료' WHERE R_NO = #{rNo}
	</update>

 </mapper>